# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user

# kaggle API
.env

# markdown temporary website generation
/markdown/_site/
/markdown/site_libs/

# temporary class assignment files
/scr/tarefa_aula_1/tarefa_aula_1_respostas.html
/scr/tarefa_aula_1/tarefa_aula_1_files/

# temporary big data files
/data/raw/lyrics.csv
/data/processed/lyrics.RData
/data/processed/lyrics_token.RData
/data/processed/lyrics_token_bi.RData
/data/processed/kaggle/